/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.hero-row:after {
  content: "";
  display: table;
  clear: both;
}

.hero-column-first {
  /* width: 50%; */
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.hero-column-second {
  width: 50%;
}

.column-first {
  width: 30%;
}

.column-second {
  width: 70%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 766px) {
  .column {
    width: 100%;
  }
}

.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 864px;
}

.u-section-1 .u-image-1 {
  width: 613px;
  height: 734px;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 707px;
  min-height: 689px;
  margin: -712px auto 82px 97px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

/* .u-section-1 .u-text-1 {
  font-size: 7.5rem;
  line-height: 1.1;
  font-weight: 700;
  margin: 0;
} */

.u-section-1 .u-text-1 {
  font-size: 5.5rem;
  line-height: 1.1;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  line-height: 2;
  font-size: 1.25rem;
  margin: 35px 307px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 39px auto 0 0;
  padding: 14px 73px 15px 71px;
}

.u-section-1 .u-icon-1 {
  color: rgb(194, 98, 175) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 563px;
  }

  .u-section-1 .u-group-1 {
    width: 589px;
    margin-bottom: 83px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 6.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 189px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1 .u-image-1 {
    width: 462px;
    height: 602px;
  }

  .u-section-1 .u-group-1 {
    width: 411px;
    min-height: 639px;
    margin-top: -621px;
    margin-bottom: 42px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.875rem;
    margin-top: 24px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 98px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 55px;
    padding-left: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1218px;
  }

  .u-section-1 .u-image-1 {
    height: 603px;
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 470px;
    margin-top: -1108px;
    margin-bottom: 188px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-1 .u-image-1 {
    height: 476px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 480px;
    margin-top: -956px;
    margin-bottom: 51px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 27px;
  }
}

.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1031px;
}

.u-section-2 .u-group-1 {
  width: 403px;
  min-height: 911px;
  height: auto;
  margin: 60px auto 0 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 0 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1;
  margin: 12px 0 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 0 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 0 0;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 0 0;
}

.u-section-2 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-social-icons-1 {
  height: 24px;
  min-height: 16px;
  width: 125px;
  min-width: 94px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-list-1 {
  width: 575px;
  margin: -911px auto 0 515px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 16px));
  min-height: 414px;
  grid-gap: 32px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 20px 0;
}

.u-section-2 .u-text-15 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 2px 0 0;
}

.u-section-2 .u-text-16 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 20px 0;
}

.u-section-2 .u-text-17 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 2px 0 0;
}

.u-section-2 .u-text-18 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 20px 20px 0;
}

.u-section-2 .u-text-19 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 2px 0 0;
}

.u-section-2 .u-text-20 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 20px 20px 0;
}

.u-section-2 .u-text-21 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 2px 0 0;
}

.u-section-2 .u-text-22 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-group-2 {
  width: 575px;
  min-height: 403px;
  height: auto;
  margin: 40px 50px 60px auto;
}

.u-section-2 .u-container-layout-6 {
  padding-bottom: 3px;
}

.u-section-2 .u-text-23 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-24 {
  font-family: Poppins;
  line-height: 2;
  margin: 31px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 39px auto 0 0;
  padding: 15px 125px 15px 123px;
}

.u-section-2 .u-icon-5 {
  color: rgb(194, 98, 175) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 326px;
    min-height: 918px;
    margin-top: 53px;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-social-icons-1 {
    width: 126px;
    margin-left: -1px;
  }

  .u-section-2 .u-list-1 {
    margin-left: 365px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
    margin: 36px auto 84px 365px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1151px;
  }

  .u-section-2 .u-group-1 {
    width: 304px;
    min-height: 1030px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-list-1 {
    width: 377px;
    margin-top: -1030px;
    margin-left: 343px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 409px;
    grid-gap: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 14px;
  }

  .u-section-2 .u-text-15 {
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 14px;
  }

  .u-section-2 .u-text-17 {
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 14px;
  }

  .u-section-2 .u-text-19 {
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 14px;
  }

  .u-section-2 .u-text-21 {
    margin-right: auto;
  }

  .u-section-2 .u-group-2 {
    width: 377px;
    min-height: 570px;
    margin-top: 21px;
    margin-bottom: 90px;
    margin-left: 343px;
  }

  .u-section-2 .u-btn-4 {
    padding-right: 90px;
    padding-left: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1969px;
  }

  .u-section-2 .u-group-1 {
    min-height: 898px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 418px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
    margin-bottom: 60px;
    min-height: 502px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-4 {
    padding-right: 144px;
    padding-left: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2047px;
  }

  .u-section-2 .u-group-1 {
    min-height: 918px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    font-size: 4.25rem;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    font-size: 4.25rem;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-20 {
    font-size: 4.25rem;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-22 {
    font-size: 4.25rem;
  }

  .u-section-2 .u-group-2 {
    margin-top: -13px;
    min-height: 564px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-4 {
    padding-right: 72px;
    padding-left: 70px;
  }
}

.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1481px;
}

.u-section-3 .u-text-1 {
  width: 681px;
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  width: 623px;
  margin: 34px auto 0;
}

.u-section-3 .u-line-1 {
  width: 849px;
  height: 3px;
  transform-origin: left center;
  margin: 24px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 30px 327px 0 137px;
}

.u-section-3 .u-list-1 {
  width: 867px;
  margin: 3px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 958px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 27px 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 3px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 16px 632px 0 0;
}

.u-section-3 .u-group-1 {
  width: 598px;
  min-height: 260px;
  height: auto;
  margin: -68px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-7 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(71, 138, 201) !important;
}

.u-section-3 .u-container-layout-3 {
  padding: 27px 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 3px auto 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  margin: 16px 632px 0 0;
}

.u-section-3 .u-group-2 {
  width: 598px;
  min-height: 260px;
  height: auto;
  margin: -68px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-11 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  color: rgb(71, 138, 201) !important;
}

.u-section-3 .u-container-layout-5 {
  padding: 27px 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 3px auto 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 1rem;
  margin: 16px 632px 0 0;
}

.u-section-3 .u-group-3 {
  width: 598px;
  min-height: 260px;
  height: auto;
  margin: -68px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-15 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-3 {
  color: rgb(71, 138, 201) !important;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background-image: none;
  margin: 34px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1461px;
  }

  .u-section-3 .u-text-3 {
    width: 487px;
    margin-left: 37px;
    margin-right: 227px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-btn-4 {
    padding: 15px 125px 15px 123px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 44px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 485px;
  }

  .u-section-3 .u-group-1 {
    width: 449px;
    min-height: 285px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 485px;
  }

  .u-section-3 .u-group-2 {
    width: 449px;
    min-height: 285px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 485px;
  }

  .u-section-3 .u-group-3 {
    width: 449px;
    min-height: 285px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-3 .u-btn-4 {
    padding-right: 90px;
    padding-left: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 53px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-right: 329px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 305px;
  }

  .u-section-3 .u-group-1 {
    width: 520px;
    min-height: 280px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 329px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 305px;
  }

  .u-section-3 .u-group-2 {
    width: 520px;
    min-height: 280px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 329px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 305px;
  }

  .u-section-3 .u-group-3 {
    width: 520px;
    min-height: 280px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 0;
    padding-right: 144px;
    padding-left: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 129px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 105px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-right: 105px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 129px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 105px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    margin-right: 105px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 129px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 105px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
    margin-right: 105px;
  }

  .u-section-3 .u-btn-4 {
    padding-right: 72px;
    padding-left: 70px;
  }
}

.u-section-4 {
  background-image: url("images/dfdfdfdfdf-min1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 965px;
}

.u-section-4 .u-group-1 {
  width: 703px;
  min-height: 668px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
  background-image: none;
  margin: 60px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 50px;
}

.u-section-4 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 17px;
  transform-origin: left center;
}

.u-section-4 .u-icon-1 {
  height: 70px;
  width: 70px;
  color: rgb(148, 102, 234) !important;
  margin: 35px auto 0;
}

.u-section-4 .u-image-1 {
  object-position: 50% 59.65%;
  width: 160px;
  height: 160px;
  background-image: url("images/gf1.jpg");
  background-position: 50% 50%;
  margin: 33px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.4;
  margin: 21px 52px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 33px auto 0;
}

.u-section-4 .u-text-3 {
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: none;
  width: 409px;
  margin: 35px auto 60px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 885px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-4 .u-group-1 {
    width: 634px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-4 .u-group-1 {
    min-height: 601px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.375rem;
    width: auto;
    margin-top: 30px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-4 .u-group-1 {
    min-height: 605px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    height: 56px;
    width: 56px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 24px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1315px;
}

.u-section-5 .u-shape-1 {
  width: 643px;
  background-image: none;
  height: 1048px;
  margin: 77px auto 0 193px;
}

.u-section-5 .u-gallery-1 {
  width: 985px;
  height: 671px;
  grid-gap: 10px;
  margin: -923px auto 0 48px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 20px;
}

.u-section-5 .u-group-1 {
  width: 470px;
  min-height: 444px;
  background-image: none;
  margin: -79px 0 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  font-size: 1.125rem;
  background-image: none;
  margin: 35px auto 0 0;
  padding: 10px 59px 10px 58px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-5 .u-shape-1 {
    width: 587px;
    height: 898px;
    margin-top: 65px;
    margin-right: 160px;
    margin-left: auto;
  }

  .u-section-5 .u-gallery-1 {
    width: 879px;
    height: 609px;
    margin-top: -773px;
    margin-left: 0;
  }

  .u-section-5 .u-group-1 {
    margin-top: -87px;
  }

  .u-section-5 .u-btn-2 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1648px;
  }

  .u-section-5 .u-shape-1 {
    width: 506px;
    height: 1379px;
    margin-top: 77px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-5 .u-gallery-1 {
    width: 720px;
    height: 1122px;
    margin-top: -1296px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-group-1 {
    margin-top: -121px;
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3028px;
  }

  .u-section-5 .u-shape-1 {
    width: 402px;
    height: 2907px;
    margin-left: 0;
  }

  .u-section-5 .u-gallery-1 {
    width: 440px;
    height: 2486px;
    margin-top: -2842px;
    margin-left: auto;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-group-1 {
    width: 425px;
    margin-top: -140px;
    margin-right: 0;
    margin-bottom: 112px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2469px;
  }

  .u-section-5 .u-shape-1 {
    width: 276px;
    height: 2201px;
  }

  .u-section-5 .u-gallery-1 {
    width: 305px;
    height: 1735px;
    margin-top: -2136px;
    margin-left: 35px;
  }

  .u-section-5 .u-group-1 {
    min-height: 489px;
    width: 305px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 808px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 698px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 221px 0 0;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 28px 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  border-style: solid;
  padding: 0;
}

.u-section-6 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-6 .u-social-icons-1 {
  height: 31px;
  min-height: 16px;
  width: 197px;
  min-width: 120px;
  white-space: nowrap;
  margin: 28px auto 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 698px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-6 .u-text-6 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 3rem;
  font-weight: 700;
  margin: 83px 269px 0 0;
}

.u-section-6 .u-form-1 {
  height: 368px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-6 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-6 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-6 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-6 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 131px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 645px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 68px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.875rem;
    margin-right: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-text-6 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }
}

.u-section-7 .u-sheet-1 {
  min-height: 400px;
}